* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f2f4;
}

nav {
  background: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav .nav_container {
  width: 80vw;
  max-width: 1230px;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_container .search {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #2874f0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.451);
}
nav .nav_container .search input {
  font-size: 0.9rem;
  width: 90%;
  border: none;
  padding: 10px;
}
nav .nav_container .search input:focus {
  outline: none;
}
nav .nav_container .nav_list {
  width: 40%;
}
nav .nav_container .nav_list ul {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
nav .nav_container .nav_list ul li {
  height: 56px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: white;
}
nav .nav_container .nav_list ul li .button {
  background-color: white;
  color: #2874f0;
  padding: 6px 30px;
  box-sizing: border-box;
}
nav .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}
nav #menu_icon {
  display: none;
}
nav #close_icon {
  display: none;
}

.container {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}

.divider-1 {
  height: 10px;
}

.divider-2 {
  height: 20px;
}

main {
  overflow: hidden;
}

.department_container {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.department_container .dep_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 20px;
  margin: 2px;
}
.department_container .dep_box img {
  width: 64px;
}

.slider-box {
  width: inherit;
  max-width: inherit;
  position: relative;
  display: grid;
}
.slider-box .slider {
  width: 100%;
  aspect-ratio: 320/53;
  max-width: 100%;
}
.slider-box .slider img {
  position: absolute;
  width: inherit;
  max-width: inherit;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.slider-box .btns {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.slider-box .btns button {
  background-color: white;
  color: rgb(92, 92, 92);
  padding: 30px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.slider-box .btns button .material-symbols-outlined {
  font-size: 1.3em;
}

.shop_container {
  background-color: white;
  padding: 10px;
}
.shop_container .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_container .heading h1 {
  font-weight: 600;
}
.shop_container .heading span {
  font-size: 0.8em;
  color: white;
  background-color: #2874f0;
  padding: 7px;
  border-radius: 50%;
}
.shop_container .box_container {
  overflow: auto;
  display: flex;
}
.shop_container .box_container .box {
  margin: 10px;
  width: 200px;
  min-width: 200px;
  height: 250px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.shop_container .box_container .box .image {
  height: 80%;
}
.shop_container .box_container .box .image img {
  height: 100%;
}
.shop_container .box_container .box .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop_container .box_container .box .text p {
  font-weight: 600;
}

footer {
  height: 20vh;
  background-color: #172337;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */